/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
html,body{
    width: 100%;
    margin: 0%;
}
.navigator{
    background-color: white;
    height: 60px;
    display: flex;
  justify-content: space-between;
}
.navigator img{
    height: 40px;
    margin-top: 8px;
    margin-left: 8px;
}

.menu {
    display: flex;
    justify-content:right;
    color: black;
}
.nav-bar-ul{
 
    width: 300px;
    margin: 5 auto;
    display: flex;
    justify-content: space-evenly;
  }
  .nav-bar-ul li{
    list-style-type:none;
  text-align:center;
  
  }
  .nav-bar-ul a{
    text-decoration: none;
    color:rgb(64, 63, 63);
  }
  
  .section2{
    background-image: url("../images/landing.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  padding-top:50px;
    width: 100%;

  }
  .section2 div{
    color: white;
    text-align: center;
    margin-top: 250px;
    font-size: 150%;
    font-family:sans-serif;
  }
  h1{
    font-size: 300%;
  }
 
  .section3 div{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .section3{
    text-align: center;
    margin-top: 50px;
    width: 100%;
  }
  .service {
    width: 40%;
  }
  .service img{
    width: 125px;
  }
  .section3 h3{
    color: #00B172;
  }
  .section3 h2{
    text-decoration: underline;
    text-decoration-color: #00B172;
    text-underline-offset: 10px;
  }
  .section4{
    background-color: #00B172;
    color: white;
    display: flex;
    padding: 50px;

 }
 .text{
    width: 40%;

 }
 
  .logoblanco{
    width: 80px;
    padding: 20%;
  }
  .logoreproductor{
    width: 250px;
  }
  .imagenlogo{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text h2{
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 10px;
  }
  
